{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- background -->
    <div class="container-fluid">
        <div class="row" style="margin-top: 15vh;">
          <div class="col-md-5" style="padding-top: 80px; padding-left: 60px;">
            <h2>INSTANT SECURE <span class="text-body-secondary">VTU</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui delectus tenetur corporis dolore, sapiente asperiores non eius</p>
            <button type="button" class="btn btn-primary" style="margin-top: 30px;">Get started</button>
          </div>
          <div class="col-md-7">
            <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="800" src="{% static 'img/bg-01.png' %}" alt="">
          </div>
        </div>
      </div>
  <!-- background ends     -->
  
  <!-- service -->
  <section class="container  service vtu" id="vtu">
    <div class="heading text-center mb-4">
      <h2>Virtual Top Up</h2>
      <h5>Electronic vending of data and airtime</h5>
    </div>  
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body box shadow">
                    <img src="{% static 'img/internet(1).png' %}" alt="Data Icon" class="mb-3"> 
                    <h5 class="card-title">Buy Data</h5>
                    <p class="card-text">Purchase data bundles from our website and stay connected online.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body box shadow">
                    <img src="{% static 'img/smartphone.png' %}" alt="Airtime Icon" class="mb-3">
                    <h5 class="card-title">Buy Airtime</h5>
                    <p class="card-text">Recharge your mobile airtime quickly and conveniently.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body box shadow">
                    <img src="{% static 'img/old.png' %}" alt="TV Icon" class="mb-3"> 
                    <h5 class="card-title">TV Subscription</h5>
                    <p class="card-text">Subscribe to your favorite TV channels and enjoy endless entertainment.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body box shadow">
                    <img src="{% static 'img/electricity.png' %}" alt="Electricity Icon" class="mb-3"> 
                    <h5 class="card-title">Electricity Bills</h5>
                    <p class="card-text">Pay your electricity bills hassle-free through our platform.</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- services end  -->
  
  <!-- pricing  -->
  
  <div class="container" id="pricing">
    <div class="card-body">
                  
      <div class="row" style="margin-top:20px;">
          <div class="col-md-12">
                  <div class="post-content clearfix">
                      <h2 class="post-title" align="center">
                          Cheapest VTU Platform in Nigeria
                      </h2>
                      <p class="text-center p-3">Buy Databundle (MTN, Glo, Airtel &amp; 9mobile) Cheap internet/mobile browsing data plans </p>
                      <div class="table-responsive">
                          <table class="table table-bordered" style="text-align: center;">
      
                              <thead>
                                  <tr><th style="text-align:left;">Service</th>
                                  <th style="text-align:left;">Price</th>
                              </tr></thead>
      
                              <tbody>
      
                                  <tr>
                                      <td style="text-align: left;">Airtime (MTN, Glo, Airtel &amp; 9mobile)</td>
                                      <td style="text-align: left;">1.5% Discount</td>    
                                  </tr>
      
                                  <tr>
                                      <td style="text-align: left;">MTN Data 1GB (SME) – 30 Days</td>
                                      <td style="text-align: left;">₦289</td> 
                                  </tr>
      
                                  <tr>
                                      <td style="text-align: left;">Glo Data 2GB/2.5GB – 30 Days</td>
                                      <td style="text-align: left;">₦979</td>
                                  </tr>
      
                                  <tr>
                                      <td style="text-align: left;">Airtel Data 1.5GB – 30 Days</td>
                                      <td style="text-align: left;">₦979</td>
                                  </tr>
      
                                  <tr>
                                      <td style="text-align: left;">9mobile Data 1.5GB – 30 Days</td>
                                      <td style="text-align: left;">₦989</td>
                                  </tr>
      
                                  <tr>
                                      <td style="text-align: left;">DStv Padi</td>
                                      <td style="text-align: left;">₦2150 + ₦39  Service Fee</td>
                                  </tr>
      
                                  <tr>
                                      <td style="text-align: left;">GOtv Smallie</td>
                                      <td style="text-align: left;">₦900 + ₦39  Service Fee </td>
                                  </tr>
      
                                  <tr>
                                      <td style="text-align: left;">Startimes Nova</td>
                                      <td style="text-align: left;">₦900 + ₦39  Service Fee</td>     
                                  </tr>
      
                                  <tr>
                                      <td style="text-align: left;">Ikeja (IKEDC)</td>
                                      <td style="text-align: left;">Amount + ₦39 Service Fee (+SMS)</td>
                                  </tr>
                                              
                              </tbody> 
      
                          </table>
      
                          <center>
                          <a href="?action=pricing" class="btn btn-sm btn-success text-center">See all Prices</a>
                          </center>
                      </div>
                      
                    </div>
                  </div>
               </div>
             </div>
  </div>
  
  <!-- pricing end  -->
  
  <!-- icon display -->
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Powering Thousands Of Businesses</h1>
      <br>        
      <div class="row">
        <div class="col lg-1">
          <img class="bd-placeholder-img rounded-circle p-2" width="100" height="100" src="{% static 'img/mtn.png' %}"  alt="">
        </div>
        <div class="col lg-1">
          <img class="bd-placeholder-img rounded-circle p-2" width="100" height="100" src="{% static 'img/airtel.jpg' %}"  alt="">
        </div>
        <div class="col lg-1">
          <img class="bd-placeholder-img rounded-circle p-2" width="100" height="100" src="{% static 'img/9mobile.jpg' %}"  alt="">
        </div>
        <div class="col lg-1">
          <img class="bd-placeholder-img rounded-circle p-2" width="100" height="100" src="{% static 'img/glo1.jpg' %}" alt="">
        </div>
        <div class="col lg-1">
          <img class="bd-placeholder-img rounded-circle p-2" width="100" height="100" src="{% static 'img/EEDC-Logo.jpg' %}" alt="">
        </div>
        <div class="col lg-1">
          <img class="bd-placeholder-img rounded-circle p-2" width="100" height="100" src="{% static 'img/bedc.jfif' %}" alt="">
        </div>
        <div class="col lg-1">
          <img class="bd-placeholder-img rounded-circle p-2" width="100" height="100" src="{% static 'img/waec.jpg' %}" alt=""> 
        </div>
  
      </div>
    </div>
  </div>
  <!-- icon display end  -->
  
  
    <!-- contact  -->
    <section class="contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro intro-left">
                        <h2 class="section-title">Get In Touch With Us<span class="color">.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="contact-wrap">
                        <div class="contact-form">
                            <form id="ajax-contact" method="post" action="/contact-us">              
                                <div class="form-group half-form mb-2">
                                    <input required="" type="text" id="name" name="first_name" placeholder="First Name" class="form-control">
                                </div>
                                <div class="form-group half-form mb-2">
                                    <input required="" type="text" id="name_last" name="name_last" placeholder="Last Name" class="form-control">
                                </div>
                                <div class="form-group half-form mb-2">
                                    <input required="" type="email" id="email" name="email" placeholder="Email" class="form-control">
                                </div>
                                <div class="form-group half-form mb-2">
                                    <input required="" type="text" id="phone" name="phone" placeholder="Phone" class="form-control">
                                </div>
                                <div class="form-group mb-2">
                                    <textarea id="message" name="message" cols="30" rows="9" placeholder="Type your Message" required="" class="form-control"></textarea>
                                </div>
                                <div class="form-group ">
                                    <button type="submit" class="btn btn-primary ">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                                <i class="fas fa-map-pin"></i>
                                <div class="cw-txt">
                                    <h5>Our Address</h5>
                                    <p>7030 Woodbine, Suite 500 Markham, ON L3R 6G23 ddress</p>
                                </div>
                            <div class="cw-item">
                                <i class="fas fa-phone-alt"></i>
                                <div class="cw-txt">
                                    <h5>Phone &amp; Email</h5>
                                    <p>+1 (908) 962 7676 <br>support@J4immigration.org</p>
                                </div>
                            </div>
                    <div class="contact-widget">
                        <div class="cw-inner">
                            <div class="cw-item">
                                <i class="fas fa-share"></i>
                                <div class="cw-txt">
                                    <h5>Stay In Touch</h5>
                                    <p>Also Find Us on social media</p>
                                    <div class="social-share">
                                        <span><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="google-map"></div>
    </section>
    <br><br><br>
    <!-- contact display end  -->
  
{% endblock content %}
    

